        .cldour {
            display: none;
            position: fixed;
            z-index: 99;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, .95);
        }
        
        .cldrWrp {
            position: absolute;
            z-index: 9;
            background-color: #ededed;
            top: 16%;
            left: 0;
            line-height: 35px;
            text-align: center;
            width: 100%;
            /*box-shadow: 0 0 8px #cfcfcf;*/
            color: #666
        }
        
        #yearWrp {
            height: 40px;
            line-height: 40px;
            font-size: 20px;
        }
        
        .cldrBody span,
        .cldrBody ul li {
            float: left;
            display: block;
            width: 13%;
            margin-right: 1.5%;
        }
        
        #yearList a {
            float: left;
            display: block;
            font-size: 17px;
            width: 32%;
            margin: 7px;
            border-radius: 4px;
            margin-left: 0;
            margin-right: 2%;
            line-height: 50px;
            box-sizing: border-box;
            color: #333;
            background-color: #fafafa;
        }
        
        #yearList a:nth-child(3n) {
            margin-right: 0
        }
        
        #yearList {
            position: fixed;
            border-radius: 8px;
            box-shadow: 0 0 8px #ccc;
            top: 1%;
            left: 2%;
            bottom: 1%;
            right: 2%;
            z-index: 9;
            background-color: rgba(255, 255, 255, .95);
            overflow: scroll;
            display: none;
        }
        
        .cldrBody ul {
            margin: 12px 0;
        }
        
        .cldrBody span:last-child,
        .cldrBody ul li:nth-child(7n) {
            margin-right: 0
        }
        
        .cldrBody ul li {
            margin-bottom: 1.5%;
            height: 45px;
            line-height: 45px;
            background-color: #fafafa;
            color: #333;
            border-radius: 3px
        }
        
        .cldrBody ul li.preMounth {
            font-size: 12px;
            color: #fff;
        }
        
        .cldrBody ul li.passed {
            color: #999;
        }
        /* .cldrBody ul li.innow {
            color: #fff;
             background-color: skyblue;
        } */
        
        .cldrBody ul li.on {
            background-color: #f4b414;
            color: #fff;
        }
        
        .arrs {
            display: block;
            position: relative;
            float: left;
            width: 30%;
            height: 70px;
        }
        
        .arrs::before {
            content: "";
            display: block;
            position: absolute;
            height: 16px;
            width: 16px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotateZ(45deg);
            /*background-color: skyblue;*/
            border: 1px solid slategray;
        }
        
        #ltArr.arrs::before {
            border-top: 0;
            border-right: 0
        }
        
        #rtArr.arrs::before {
            border-bottom: 0;
            border-left: 0
        }
        
        .lunaName {
            float: left;
            width: 40%;
        }
        /* 日历 */
        
        body {
            background-color: #ededed;
            padding-bottom: 60px;
        }
        
        .swipWrp {
            position: relative;
            width: 100%;
            margin: 0 auto;
            overflow: hidden;
        }
        
        #swiper {
            width: 400%;
            position: relative;
            overflow: hidden;
            text-align: center;
            transition: all 400ms ease-in;
            background-color: #ededed;
        }
        
        #swiper img {
            float: left;
            margin: 0 auto;
            width: 25%;
        }
        
        #tags {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
        }
        
        #tags a {
            display: inline-block;
            transition: all 1s ease;
            width: 9px;
            height: 9px;
            margin: 3px 6px;
            border-radius: 4.5px;
            background-color: rgba(255, 255, 255, .5)
        }
        
        #tags a.on {
            transform: scale(1.2, 1.2);
            background-color: rgba(255, 255, 255, .85)
        }
        
        .btnsWrp {
            background-color: #fff;
            margin-bottom: 5px;
        }
        
        .btnsWrp a {
            float: left;
            width: 25%;
            padding: 10px 0;
        }
        
        .btnsWrp a div {
            display: block;
            margin: 0 auto;
            text-align: center;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            overflow: hidden;
        }
        
        .btnsWrp a p {
            text-align: center;
            line-height: 26px;
            font-size: 15px;
            color: #4a4a4a;
        }
        
        .btnsWrp a div img {
            vertical-align: middle;
            margin-top: 8px
        }
        
        .btnsWrp a:nth-child(1) div {
            background-color: #f00;
            background-image: linear-gradient(0deg, #ff0000 0%, #ff6e64 98%);
        }
        
        .btnsWrp a:nth-child(2) div {
            background-color: #47f09f;
            background-image: linear-gradient(0deg, #47f09f 0%, #12ec7f 100%);
        }
        
        .btnsWrp a:nth-child(3) div {
            background-color: #ff9c0d;
            background-image: linear-gradient(0deg, #ff9c0d 0%, #f4b414 100%);
        }
        
        .btnsWrp a:nth-child(3) div img {
            margin-top: 12px;
        }
        
        .btnsWrp a:nth-child(4) div {
            background-color: #3191d6;
            background-image: linear-gradient (0deg, #3191d6 0%, #3dbee8 100%);
        }
        
        .tcaWrp {
            padding: 0 2%;
            background-color: #fff;
            margin-bottom: 5px
        }
        
        .tcaWrp h3,
        .weCont h3 {
            font-size: 16px;
            color: #4a4a4a;
            padding: 10px 0;
            font-weight: normal;
            text-align: center
        }
        
        .twconts {
            border: 1px solid #e4e4e4;
            padding: 10px 0;
        }
        
        .weCont {
            background-color: #fff;
            padding: 0 2%;
            padding-bottom: 15px;
            margin-bottom: 5px
        }
        
        .weCont li a {
            display: block;
            padding: 10px 0;
        }
        
        .weCont li {
            text-align: center;
            float: left;
            width: 48%;
            box-sizing: border-box;
            border: 1px solid #e4e4e4;
            border-radius: 6px;
            margin: 1%
        }
        
        .weCont li img {
            height: 70px;
            width: auto
        }
        
        .weCont li p:nth-child(2) {
            font-size: 14px;
            color: #111111;
            margin: 10px 0;
        }
        
        .weCont li p:nth-child(3) {
            font-size: 22px;
            color: #ff1818;
            margin: 6px 0;
        }
        
        .infosWrps>div {
            width: 50%
        }
        
        .cartBtn {
            position: fixed;
            right: 6px;
            bottom: 62px;
            display: block;
            height: 47px;
            width: 47px;
            background-color: #f4b414;
            background-image: url(../img/cartw.png);
            background-repeat: no-repeat;
            background-size: 50% auto;
            background-position: 50% 50%;
            border-radius: 50%
        }
        
        .addBtns,
        .tabsBtnWrp {
            float: left;
            display: block;
            width: 60%;
            margin-left: 5%
        }
        
        .addBtns input {
            width: 30%;
            border-top: 1px solid #9b9b9b;
            border-bottom: 1px solid #9b9b9b;
            font-size: 13px;
            line-height: 35px;
            margin-top: -3px;
            text-align: center;
        }
        
        .addBtns div.fl a {
            margin: 13px 0;
            display: inline-block;
            width: 30%;
            line-height: 35px;
            text-align: center;
            font-size: 12px;
            color: #4a4a4a;
            background: #f0f0f0;
            border: 1px solid #9b9b9b;
            height: 35px;
        }
        
        .infosWrps label,
        .bbtwrp label {
            float: left;
            line-height: 35px;
            margin: 13px 1%;
        }
        
        .bbtwrp>div {
            width: 50%;
            float: left;
        }
        
        .bbtwrp p {
            line-height: 35px;
            font-size: 18px;
            color: #ff1818;
            margin: 13px 1%;
        }
        
        .rlBtn {
            float: left;
            display: block;
            text-align: center;
            width: 35px;
            height: 35px;
            margin: 13px 2%;
        }
        
        .rilwrp {
            width: 60%;
            margin-left: 5%
        }
        
        .rlBtn img {
            width: 24px;
            margin-top: 6px;
        }
        
        .tabsBtnWrp span {
            display: inline-block;
            text-align: center;
            margin: 13px 3px;
            width: 42%;
            line-height: 35px;
            border-radius: 3px;
            font-size: 12px;
        }
        
        .tabsBtnWrp span.on:nth-child(1) {
            background-color: #7ed321;
            color: #fff
        }
        
        .tabsBtnWrp span.on:nth-child(2) {
            background-color: #f4b414;
            color: #fff
        }
        
        .xdBtn {
            display: block;
            text-align: center;
            margin: 13px auto;
            background-color: #ff0000;
            background-image: linear-gradient(-180deg, #ff0000 0%, #ff8080 100%);
            border-radius: 100px;
            width: 90%;
            height: 34px;
            line-height: 34px;
            font-size: 15px;
            color: #ffffff;
        }
        
        .twconts {
            text-align: center
        }
        
        .twconts img {
            height: 47px;
            margin-bottom: 8px
        }
        
        .twconts p {
            font-size: 14px;
            color: #4a4a4a;
            line-height: 20px
        }
        
        .twconts>div,
        .tmsWrp>div {
            float: left;
            width: 50%;
        }
        
        .tcInfoWrp {
            position: relative;
        }
        
        .tcInfoWrp::before {
            display: block;
            content: "";
            width: 1px;
            position: absolute;
            height: 80px;
            top: 10px;
            left: 0;
            border-left: 1px dotted #B0B0B0
        }
        
        .tcInfoWrp p:nth-child(1) {
            margin-top: 8px;
            font-size: 12px;
            line-height: 16px;
        }
        
        .tcInfoWrp p:nth-child(2) {
            font-size: 16px;
            margin-top: 5px;
            color: #ff0000
        }
        
        .tcInfoWrp p:nth-child(3) {
            font-size: 10px;
            color: #b3b3b3;
            text-decoration: line-through
        }